<mat-card class="info-card">
  <mat-card-content>

    <div class="info-row">
      <mat-icon color="primary" fontIcon="info">info</mat-icon>
      <span translate>Contains a lowercase letter</span>
    </div>

    <div class="info-row">
      <mat-icon color="primary" fontIcon="info">info</mat-icon>
      <span translate>Contains an uppercase letter</span>
    </div>

    <div class="info-row">
      <mat-icon color="primary" fontIcon="info">info</mat-icon>
      <span translate>Contains a digit</span>
    </div>

    <div class="info-row">
      <mat-icon color="primary" fontIcon="info">info</mat-icon>
      <span translate>Contains a special character</span>
    </div>

    <div class="info-row">
      <mat-icon color="primary" fontIcon="info">info</mat-icon>
      <span>Must be 5-40 characters</span>
    </div>

  </mat-card-content>
</mat-card>